:root {
  --cor-cabecalho: #064f47;
  --cor-sessao: rgba(145, 184, 214, 0.86);
  --cor-write: #fff;
  --cor-Black: #000;
  --font-logo: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --fontSize-log: 1rem;
  --fontSize-cabecalho: 1.5rem;
  --fontSize-title: 1.8rem;
  --fontSize-padrao: 1rem;
}
