@import url("./padroes.css");
* {
  padding: 0;
  margin: 0;
}
body {
  overflow: hidden;
}
#container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}
#container .col-left {
  width: 60%;
  height: 100vh;
  background-color: #1f441dbe;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background: #043500;
}
svg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;

  background-color: #d4e2fe;
  background-image: linear-gradient(
    to bottom,
    rgba(145, 184, 214, 0.86),
    #0e4166
  );
}
.span-title {
  display: flex;
  align-items: center;
  gap: 15px;
}
.fi {
  font-size: 25px;
}
.div-login {
  width: 500px;
  height: 500px;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(31, 31, 31, 0.301); /* Cor de fundo para a div */
  position: absolute;
  gap: 20px;
  top: 40%;
  left: 70%;
  padding: 10px;
  transform: translate(-50%, -50%);
  /* Estilos adicionais para estilizar a div como desejado */
}
.span-camp {
  display: flex;
  width: 90%;
  height: 20px;
  gap: 25px;
  padding: 10px;
  background-color: #2c5174;
  align-items: center;

  border-radius: 30px;
}
.span-confirm {
  display: flex;
  width: 50%;
  height: 20px;
  border-radius: 30px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 0, 0, 0);
  gap: 25px;
  background-color: #848a9175;
  transition: box-shadow 0.3s ease;
  transition: border 0.3s ease;
}
.span-confirm:hover {
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.bnt-enviar {
  width: 100%;
  height: 30px;
  background-color: #848a9100;
  border-radius: 30px;
  border: none;
  font-weight: 900;
  font-size: 1rem;
}
.Title-login {
  position: absolute;
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  font-size: 2rem;
  top: 13%;
  left: 67%;
}

.cadastro-educador {
  position: absolute;
  font-family: var(--font-logo);
  color: var(--cor-write);
  top: 58%;
  left: 72%;
  font-size: 1.5rem;
  text-decoration: none;
}
.cadastro-educador:hover {
  color: #00fa9a;
}
/*Incon-Email*/
.gg-mail,
.gg-mail::after {
  display: block;
  box-sizing: border-box;
  height: 14px;
  border: 2px solid;
}
.gg-mail {
  overflow: hidden;
  transform: scale(var(--ggs, 1));
  position: relative;
  width: 20px;
  border-radius: 2px;
}
.gg-mail::after {
  content: "";
  position: absolute;
  border-radius: 3px;
  width: 13px;
  transform: rotate(-45deg);
  bottom: 3px;
  left: 0;
}
/*Incon-Email*/
/*Incon-Key*/
.gg-key {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 15px;
  height: 15px;
  border: 2px solid;
  border-radius: 100px;
}
.gg-key::after,
.gg-key::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: -12px;
}
.gg-key::before {
  background: currentColor;
  width: 12px;
  height: 2px;
  top: 1px;
}
.gg-key::after {
  width: 5px;
  height: 3px;
  top: 2px;
  border-left: 2px solid;
  border-right: 2px solid;
}
/*Incon-Key*/
.span-input {
  width: 100%;
  padding-left: 15px;
  height: 27px;
  border-radius: 30px;
  border: 0;
  font-size: 20px;
  display: flex;

  justify-content: end;
  background-color: #2c5174;
}
.span-input:focus {
  border: 0 none;
  outline: 0;
}

/*Nada*/

.animateme {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 38%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../imgs/escudo-exclamacao.png);
  background-size: 100%;
  bottom: 60px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  opacity: 0;
}

.bg-bubbles li:nth-child(1) {
  left: 3%;
  border-radius: 50em;
  background-image: url(../imgs/usuario-do-circulo.png);
  background-size: 100%;

  border: none;
}
.bg-bubbles li:nth-child(2) {
  left: 6%;
  width: 75px;
  height: 75px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 15%;
  width: 175px;
  height: 175px;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 90px;
  height: 90px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
  background-image: url(../imgs/usuario-do-circulo.png);
  background-size: 100%;

  border: none;
}
.bg-bubbles li:nth-child(6) {
  left: 90%;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  border-radius: 50em;
  background-image: url(../imgs/escudo-exclamacao.png);
  background-size: 100%;

  border: none;
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  background-image: url(../imgs/usuario-do-circulo.png);
  background-size: 100%;

  border: none;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 50px;
  height: 50px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 30%;
  width: 140px;
  height: 140px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  border-radius: 50em;
  background-image: url(../imgs/escudo-exclamacao.png);
  background-size: 100%;

  border: none;
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}
.bg-bubbles li:nth-child(11) {
  left: 10%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 13s;
  animation-delay: 13s;
  border-radius: 50em;
}
.bg-bubbles li:nth-child(12) {
  left: 55%;
  width: 175px;
  height: 175px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  background-image: url(../imgs/escudo-do-usuario.png);
  background-size: 100%;

  border: none;
}

.bg-bubbles li:nth-child(13) {
  left: 65%;
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  border-radius: 50em;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
    opacity: 1;
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
    opacity: 0;
  }
}
/*Responsividade*/
@media (max-width: 1400px) {
  .Title-login {
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 900;
    font-size: 2rem;
    top: 10%;
    left: 64%;
  }
  .div-login {
    top: 50%;
  }
  .Title-login {
    top: 20%;
  }
  .cadastro-educador {
    left: 73%;
    top: 70%;
  }
}

@media (max-width: 900px) {
  .Title-login {
    top: 20%;
  }
  .cadastro-educador {
    top: 76%;
    left: 61%;
  }
  .div-login {
    width: 400px;
    height: 500px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(31, 31, 31, 0.301); /* Cor de fundo para a div */
    position: absolute;
    gap: 20px;
    top: 50%;
    left: 70%;
    padding: 10px;
    transform: translate(-50%, -50%);
    /* Estilos adicionais para estilizar a div como desejado */
  }
}
@media (max-width: 700px) {
  body {
    overflow: scroll;
  }
  .Title-login {
    top: 35%;
    left: 40%;
  }
  .cadastro-educador {
    top: 63%;
    left: 35%;
  }
  #container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  #container .col-left {
    width: 100%;
    height: 100vh;
    background-color: #1f441dbe;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: #043500;
  }
  .animateme {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    overflow: hidden;
    z-index: -1;
  }
  .div-login {
    width: 500px;
    height: 500px;
    left: 50%;
    /* Estilos adicionais para estilizar a div como desejado */
  }
}
@media (max-width: 525px) {
  .div-login {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .div-login {
    width: 350px;
  }
  .Title-login {
    left: 35%;
  }
}
@media (max-width: 400px) {
  .div-login {
    width: 300px;
  }
}

/*Responsividade*/
