@import url("padroes.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #2c5174;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.w-size {
  max-width: 1200px;
}

.logo-image {
  height: 40px;
  width: 40px;
}

.navbar-links {
  margin-inline-end: 0px !important;
}

.green-default-color {
  background-color: #064f47;
}

.hover-effect-btn:after,
.hover-effect-btn:before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.hover-effect-btn:hover:after,
.hover-effect-btn:hover:before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.hover-effect-btn:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.carousel-arrow {
  width: 40px;
  height: 60px;
}

.line {
  height: 1px;
  display: block;
  width: 100%;
  background-color: white;
  border: 1px solid white;
}

.area {
  height: 200px;
  border: 1px solid white;
  border-radius: 10px;
  width: 280px;
}

.carousel_bg {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-carousel {
  width: 40px;
}

footer {
  height: 180px;
}

footer ul a li:hover {
  color: grey !important;
  transition: all 0.5s;
}
/*Sessao-------------------------------------------------------------------------*/
#sessao {
  padding: 3.13rem;
  display: grid;
}
#main {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sessao-Article {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgb(222, 222, 222);
  background: linear-gradient(
    45deg,
    rgba(222, 222, 222, 1) 0%,
    rgba(139, 133, 255, 1) 51%,
    rgba(4, 0, 255, 1) 100%
  );
}
.filtros {
  padding: 2rem;
  width: 35%;
  text-align: center;
  border-right: 2px solid white;
}

.aside-Title-Filtro {
  color: var(--cor-Black);
}
.article-Article {
  gap: 1rem;
  padding: 2rem;
  width: 100%;

}
.card {
  border-radius: 20px;
  min-height: 400px;
  border: 2px solid black;
}
.card:hover {
  border: 2px solid lightblue;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .filtros {
    padding: 2rem;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid white;
    border-right: none;
    display: flex;
    align-items: center;
  }
  .aside {
    min-width: 250px;
  }
}

.page-item {
  height: 100%;
  margin: 0 5px;
  padding: 5px 5px;
  border: 1px solid #ddd;
}

.page-item.active {
  background-color: white;
  color: black !important;
  border-color: white;
}
.page-item:hover {
  cursor: pointer;
  border: 1px solid lightblue;
}

#paginacao {
  height: 30px;
}

.bg {
  min-height: 100vh;
}