@import url("padroes.css");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #2C5174 60%, #D4E2FE );
  min-width: 300px;
}
main {
  margin-top: 130px;
}

.w-size {
  max-width: 1200px;
}

.logo-image {
  height: 40px;
  width: 40px;
}

.navbar-links {
  margin-inline-end: 0px !important;
}

.green-default-color {
  background-color: #064F47;
}


.hover-effect-btn:after,
.hover-effect-btn:before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.hover-effect-btn:hover:after,
.hover-effect-btn:hover:before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.hover-effect-btn:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.line {
  height: 1px;
  display: block;
  width: 100%;
  background-color: white;
  border: 1px solid white;
}

.section {
  width: 400px;
  height: 400px;
  padding: 10px 30px 10px 30px;
  background-image: linear-gradient(120deg, rgba(255,255,255,0.4), rgba(212,226,254,0.4));
  border: 1px solid white;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login, .form-label {
  color: #064F47;
}

.btn {
  width: 90px;
}


@media screen and (max-width: 575px) {
  .section {
    width: 280px;
    height: 320px;
    padding: 10px 30px 10px 30px;
    background-image: linear-gradient(120deg, rgba(255,255,255,0.4), rgba(212,226,254,0.4));
    border: 1px solid white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}